<div class="modal-header">
  <h3 class="modal-title">Assign Talks</h3>
</div>

<div class="modal-body" style="padding: 30px;">

  <div class="row">
    <div class="col-md-6">

      <h4>Talk Lookup</h4>

      <div>
        <ui-select ng-model="selected.talkId" on-select="loadPeopleByTalkId()" style="max-width: 400px;">
          <ui-select-match placeholder="Select">{{$select.selected.name }}</ui-select-match>
          <ui-select-choices repeat="talk.id as talk in talks | propsFilter: {name: $select.search}">
            <div ng-bind-html="talk.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <table datatable="ng" dt-options="options" class="row-border hover">
          <thead>
          <tr>
            <th>Name</th>
            <th>Count</th>
            <th>Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="person in talkPeople | orderBy:'count'">
            <td>{{ person.firstName }} {{ person.lastName }}</td>
            <td>{{ person.count }}</td>
            <td>

              <a href="javascript:void(0)" data-ng-click="selectPerson(person.personId)">
                <span class="glyphicon glyphicon-ok-circle" aria-hidden="true" style="color: green;"></span>
                Select
              </a>

            </td>
          </tr>
          </tbody>
        </table>

    </div>

    <div class="col-md-6">
      <h4>Person Lookup</h4>

      <div>
        <ui-select ng-model="selected.personId" style="max-width: 400px;">
          <ui-select-match placeholder="Select">{{$select.selected.firstName }} {{$select.selected.lastName}}</ui-select-match>
          <ui-select-choices repeat="person.id as person in people">
            <div ng-bind-html="getFullName(person)"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <table datatable="ng" dt-options="options" class="row-border hover">
          <thead>
          <tr>
            <th>Talk</th>
            <th>Weekend</th>
            <th>Status</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="talkLink in talkLinks">
            <td>{{ talkLink.talkName }}</td>
            <td>{{ talkLink.weekendId }}</td>
            <td>{{ talkLink.status }}</td>
          </tr>
          </tbody>
        </table>

    </div>

  </div>

  <div class="row">
    <div class="col-md-6"></div>

    <div class="col-md-6 text-right">
      <button class="btn btn-default" ng-click="cancel()">Cancel</button>
      <button class="btn btn-primary" ng-click="createTalkLink()" ng-disabled="!selected.talkId || !selected.personId || !weekendId">Assign</button>
    </div>
  </div>
</div>

