<div class="row">
  <div class="col-md-12">
    <h3>
      <a ui-sref="location.list" href="javascript:void(0)">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      {{ edit ? "Edit" : "Create"}} Location
    </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <form name="location">

      <div class="form-group">
        <label for="location-name">Location Name</label>
        <input type="text" class="form-control" id="location-name" placeholder="Enter name" ng-model="location.name" required>
      </div>


      <div class="form-group">
        <label for="location-cursillo-id">Select Cursillo</label>
        <ui-select ng-model="location.cursilloId" style="min-width: 300px;" id="location-cursillo-id">
          <ui-select-match placeholder="Select">{{$select.selected.name }}</ui-select-match>
          <ui-select-choices repeat="cursillo.id as cursillo in cursillos">
            <div ng-bind-html="cursillo.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>

      <button type="submit" class="btn btn-primary" data-ng-if="!edit" data-ng-click="createLocation()">Create</button>
      <button type="submit" class="btn btn-danger" data-ng-if="edit" data-ng-click="loadLocation()">Reset</button>
      <button type="submit" class="btn btn-primary" data-ng-if="edit" data-ng-click="updateLocation()">Update</button>
    </form>


  </div>
</div>
