<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1>Login</h1>

    <form name="login">

      <div class="form-group">
        <label for="login-email">Email address</label>
        <input type="email" class="form-control" id="login-email" placeholder="Email" ng-model="credentials.email" required>
      </div>

      <div class="form-group">
        <label for="login-password">Password</label>
        <input type="password" class="form-control" id="login-password" placeholder="Password" ng-model="credentials.password" required>
      </div>

      <button type="submit" class="btn btn-default" data-ng-click="authenticate(credentials)">Submit</button>
    </form>
  </div>
</div>
