<div class="row">
  <div class="col-md-12">
    <h3>
      <a ui-sref="weekend.list" href="javascript:void(0)">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      </a>
      {{ edit ? "Edit" : "Create"}} Weekend
    </h3>
  </div>
</div>

<form name="weekend">

  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <label for="weekend-number">Weekend Number</label>
        <input type="text" class="form-control" id="weekend-number" placeholder="Enter Number" ng-model="weekend.number" required>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="weekend-location-id">Select Location</label>
        <ui-select ng-model="weekend.locationId" style="min-width: 300px;" id="weekend-location-id">
          <ui-select-match placeholder="Select">{{$select.selected.name }}</ui-select-match>
          <ui-select-choices repeat="location.id as location in locations">
            <div ng-bind-html="location.name | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="form-group">
        <label for="weekend-description">Weekend Description</label>
        <input type="text" class="form-control" id="weekend-description" placeholder="Enter description" ng-model="weekend.description">
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="weekend-notes">Weekend Notes</label>
        <input type="text" class="form-control" id="weekend-notes" placeholder="Enter Notes" ng-model="weekend.notes">
      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <div>
        <p><b>Select gender</b></p>
        <ui-select ng-model="weekend.gender">
          <ui-select-match placeholder="Select">{{$select.selected}}</ui-select-match>
          <ui-select-choices repeat="gender in ['male', 'female']">
            <div ng-bind-html="gender | highlight: $select.search"></div>
          </ui-select-choices>
        </ui-select>
      </div>
    </div>

    <div class="col-md-6">
      <div class="form-group">
        <label for="weekend-is-completed">Weekend Completed</label>
        <input type="checkbox" id="weekend-is-completed" ng-model="weekend.isCompleted" class="form-control">
      </div>
    </div>


  </div>

  <div class="row">
    <div class="col-md-6">
      <p><b>Weekend Start Date</b></p>
      <div style="display:inline-block; min-height:290px;" id="weekend-start-date">
        <div uib-datepicker ng-model="weekend.startDate" class="well well-sm" datepicker-options="options"></div>
      </div>
    </div>

    <div class="col-md-6">
      <p><b>Weekend End Date</b></p>
      <div style="display:inline-block; min-height:290px;" id="weekend-end-date">
        <div uib-datepicker ng-model="weekend.endDate" class="well well-sm" datepicker-options="options"></div>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col-md-6">
        <button type="submit" class="btn btn-primary" data-ng-if="!edit" data-ng-click="createWeekend()">Create</button>
        <button type="submit" class="btn btn-danger" data-ng-if="edit" data-ng-click="loadWeekend()">Reset</button>
        <button type="submit" class="btn btn-primary" data-ng-if="edit" data-ng-click="updateWeekend()">Update</button>
      </div>

      <div class="col-md-6"></div>
    </div>

</form>
